/**
 * HTML5 ✰ Boilerplate
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}
textarea { overflow: auto; } 
.iem7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.iem7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea {
  color: #444;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
.nocallout {-webkit-touch-callout: none;}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
textarea.contenteditable {-webkit-appearance: none;}
.gifhidden {position: absolute; left: -100%;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Primary Styles for mobile
   Author:
*/

body,html {
background: #222;
}
h1 {
background: #733230;
text-align: center;
color: #fff;
font: Bold 30px/80px "Helvetica Neue",helvetica,arial,sans-serif;
}
h2 {
color: #ccc;
font: bold 20px/23px "Helvetica Neue",helvetica,arial,sans-serif;
padding: 0;
text-shadow: 1px 1px 0 #666;
padding: 5px 0px;
}
h4 {
color: #ccc;
text-align: center;
font: Bold 25px/28px "Helvetica Neue",helvetica,arial,sans-serif;
padding: 5px;
}
h4 a {
color: red;
text-decoration: none;
margin-left: 10px;
}
h5 {
color: #fff;
text-align: center;
font: normal 18px/21px "Helvetica Neue",helvetica,arial,sans-serif;
position: absolute;
bottom: 10px;
}
p {
padding: 20px;
font: Normal 18px/21px "Helvetica Neue",helvetica,arial,sans-serif;
color: #fff;
}
.warmup {
background: #ff4242;
}
.workout {
background: #6cc792;
}
.cooldown {
background: #33262E;
}
#tp_form, #workouts {
padding: 100px 20px 20px 20px;
margin: 0px auto;
width: 280px;
}

#tp_form {
	background: url(../img/informa-logo.png) center 10px no-repeat;
}
#workouts {
	padding-top: 0;
}
fieldset {
margin-bottom: 10px;
}
input,textarea {
background: #fff;
border: 1px solid #ccc;
color: #444;
font: Normal 14px/17px "Helvetica Neue",helvetica,arial,sans-serif;
border-radius: 5px;
padding: 10px;
width: 260px;
margin: 10px auto 0px auto;
}
textarea {
	font-size: 12px;
	padding: 2px 10px 2px 10px;
}
#tp_submit, #log_submit {
cursor: pointer;
background: #FD0500;
border: 1px solid #A80300;
color: #fff;
font-weight: bold;
width: 280px;
-webkit-appearance: none;
}
#tp_submit:hover {
background: #45867A;
}
#workouts,#tp_form {
display: none;
-webkit-overflow-scrolling: touch;
}
#loading_message {
width: 280px;
border-radius: 0px 0px 5px 5px;
display: none;
position: absolute;
top: 0px;
left: 20px;
background-color: #fff;
text-align: center;
font: Bold 20px/50px "Helvetica Neue",helvetica,arial,sans-serif;
color: #444;
}

#more_information {
	background: url("../img/icon_actions.png") no-repeat scroll 2px 36px transparent;
}

	#more_information h2 {
		margin-bottom: 10px;
	}
	
	#more_information textarea {
		display: none;
	}


.extra_item input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
		position: relative;
		bottom: 16px;
}

.extra_item textarea {
	margin: 0px 0px 10px 0px;
}

.extra_item span {
	line-height: 50px;
	font-size: 16px;
	margin-left: 10px;
}

.extra_item {
	border-bottom: 1px solid #ccc;
	padding: 0px 0px;
	margin: 2px 0px;
}


/* CSS MQ */

@media only screen and (min-width: 800px) {



}/*/mediaquery*/

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

#tp_form{background:url(../img/informa-logo-retina.png) center 10px no-repeat;background-size:300px 100px;}


}